* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.workSpace {
    display: flex;
    height: 100%;
    justify-content: space-between;
    white-space: nowrap;
    padding: 1rem;
}

.AdjustMenu {
    margin: 5px;
    height: 33px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 0 1rem 0 1rem;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    opacity: 0.9;
    display: grid;
}

    .AdjustMenu:hover {
        opacity: 1;
        cursor: pointer;
    }

    .AdjustMenu p {
        display: flex;
        height: 33px;
        width: 370px;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        color: #3544B1;
        font-weight: 600;
    }

        .AdjustMenu p img {
            height: 76%;
        }


.SliderContainer {
    margin: 5px;
    padding-top: 2rem;
    height: 90px;
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    opacity: 0.9;
    display: grid;
    right: 10px;
}

    .SliderContainer:hover {
        opacity: 1;
    }

    .SliderContainer input {
        -webkit-appearance: none;
        width: 75%;
        height: 3px;
        background: #ddd;
        border-radius: 5px;
        outline: none;
        border: none;
        z-index: 2222;
        justify-content: space-between
    }

        .SliderContainer input::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background: red;
            border-radius: 50%;
            background: #3544B1;
            border: 1px solid #3544B1;
            cursor: pointer;
        }

        .SliderContainer input::-moz-range-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background: red;
            border-radius: 50%;
            background: #3544B1;
            border: 1px solid #664AFF;
            cursor: pointer;
        }


.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

    .slider .value {
        position: absolute;
        font-size: 18px;
        color: #3544B1;
        font-weight: 600;
    }

        .slider .value.left {
            left: -25px;
            margin: -5px;
        }

        .slider .value.right {
            right: -10px;
            font-size: 135%
        }

.rotated-image {
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.no-rotated-image {
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}