#sourceImage {
    display: none;
    filter: hue-rotate(0deg);
}

.image-preview {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#canvas {
    max-height: 420px;
    object-fit: contain;
}
