<script src="/App_Plugins/UMedia/RangeSlider/SliderScript.js"></script>
<script src="/App_Plugins/UMedia/script.js"></script>
<link rel="stylesheet" href="/App_Plugins/UMedia/RangeSlider/SliderStyle.css" />
<link rel="stylesheet" href="/App_Plugins/UMedia/RangeSlider/SliderMenuStyle.css" />

<div class="uMediaDash" ng-controller="UMediaDashController as vm">
    <h1>UMedia Editor</h1>
    <p>The UMedia Editor aims to add basic image processing straight to the Umbraco backoffice!!</p>
    <p><input ng-model="mediaId" /></p>

    <button id="but" ng-click="getMediaLink()" class="btn btn-success">Find Image</button>

    <div>
        <img id="image"/>
    </div>

    <div class="AdjustMenu" ng-click="showColorSliders()">
        <p>Color Adjust<img src="/App_Plugins/UMedia/Icons/Umbraco-Blue-dropdown-arrow.png" /></p>
    </div>

    <div class="AdjustContainer" ng-hide="hideColorSliders">
        <div class="SliderContainer">
            <div class="slider">
                <div class="value left">Hue</div>
                <input type="range" min="0" max="200" value="100" id="hueRange">
                <div class="value right"><span id="hueValue"></span></div>
            </div>
        </div>
        <div class="SliderContainer">
            <div class="slider">
                <div class="value left">Tint</div>
                <input type="range" min="0" max="200" value="100" id="tintRange">
                <div class="value right"><span id="tintValue"></span></div>
            </div>
        </div>
        <div class="SliderContainer">
            <div class="slider">
                <div class="value left">Temp</div>
                <input type="range" min="0" max="200" value="100" id="tempRange">
                <div class="value right"><span id="tempValue"></span></div>
            </div>
        </div>
        <div class="SliderContainer">
            <div class="slider">
                <div class="value left">Sat</div>
                <input type="range" min="0" max="200" value="100" id="satRange">
                <div class="value right"><span id="satValue"></span></div>
            </div>
        </div>
        <div class="SliderContainer">
            <div class="slider">
                <div class="value left">Vib</div>
                <input type="range" min="0" max="200" value="100" id="vibRange">
                <div class="value right"><span id="vibValue"></span></div>
            </div>
        </div>
    </div>

    <div class="AdjustMenu" ng-click="showDetailSliders()">
        <p>Detail Adjust<img src="/App_Plugins/UMedia/Icons/Umbraco-Blue-dropdown-arrow.png" /></p>
    </div>

    <div class="DetailAdjustContainer" ng-hide="hideDetailSliders">
        <div class="SliderContainer">
            <div class="slider">
                <div class="value left">Sharp</div>
                <input type="range" min="0" max="200" value="100" id="sharpRange">
                <div class="value right"><span id="sharpValue"></span></div>
            </div>
        </div>
        <div class="SliderContainer">
            <div class="slider">
                <div class="value left">Blur</div>
                <input type="range" min="0" max="200" value="100" id="blurRange">
                <div class="value right"><span id="blurValue"></span></div>
            </div>
        </div>

    </div>
</div>

