* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.SliderContainer {
    margin: 5px;
    padding-top: 2rem;
    height: 90px;
    width: 380px;
    background: #fff;
    border-radius: 10px;
    padding: 0 65px 0 45px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
    opacity: 0.9;
    display: grid;
}

    .SliderContainer:hover {
        opacity: 1;
    }

    .SliderContainer input {
        -webkit-appearance: none;
        width: 80%;
        height: 3px;
        background: #ddd;
        border-radius: 5px;
        outline: none;
        border: none;
        z-index: 2222;
    }

        .SliderContainer input::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background: red;
            border-radius: 50%;
            background: #3544B1;
            border: 1px solid #3544B1;
            cursor: pointer;
        }

        .SliderContainer input::-moz-range-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background: red;
            border-radius: 50%;
            background: #3544B1;
            border: 1px solid #664AFF;
            cursor: pointer;
        }


.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

    .slider .value {
        position: absolute;
        font-size: 18px;
        color: #3544B1;
        font-weight: 600;
    }

        .slider .value.left {
            left: -22px;
        }

        .slider .value.right {
            right: -23px;
        }
